<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="contextName" value="stock_dealpost"/>
    <property name="log.charset" value="UTF-8"/>
    <property name="log.maxHistory" value="60"/>
    <property name="log.pattern" value="[%-5level] %date --%thread-- [%logger] %msg %n"/>
    <property name="log.async.queue.size" value="1024"/>
    <property name="infoLogBase" value="/data/log"/>
    <property name="errorLogBase" value="/var/log/errorinfo"/>

    <include resource="conf/includedLogbackConfig.xml" optional="true"/>

    <contextName>${contextName}</contextName>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="${log.charset}">
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${infoLogBase}/${log.context.name}/common.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${baseLogPath}/${contextName}/common.log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder charset="${log.charset}">
            <pattern>${log.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>${log.async.queue.size}</queueSize>
        <appender-ref ref="FILE"/>
    </appender>

    <appender name="limitLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${infoLogBase}/${contextName}/limit.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${infoLogBase}/${contextName}/limit_log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="mainLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${infoLogBase}/${contextName}/main.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${infoLogBase}/${contextName}/main_log.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="slaLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${infoLogBase}/${contextName}/dailylog.%d{yyyy-MM-dd.HH}</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="appError" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${errorLogBase}/${contextName}/appError.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${errorLogBase}/${contextName}/appError.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>${log.maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="appErrorRedis" class="com.dangdang.modules.hestia.appenders.logback.RedisAppender">
        <host>elkredis.idc3:8379</host>
        <queueName>error_info</queueName>
    </appender>

    <logger name="application.error" level="WARN" additivity="false">
        <appender-ref ref="appErrorRedis"/>
        <appender-ref ref="appError"/>
    </logger>

    <logger name="sla-log" level="INFO" additivity="false">
        <appender-ref ref="slaLogAppender"/>
    </logger>

    <logger name="main-log" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="mainLogAppender"/>
    </logger>

    <logger name="limit-log" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="limitLogAppender"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ASYNC_FILE"/>
    </root>
</configuration>
